.git
.github
**/bin
**/obj
**/node_modules
pos-frontend/dist
server/artifacts
server/POS.API.IntegrationTests
**/IntegrationTests
**/.vs
**/.idea
**/*.user
**/*.suo
**/*.userosscache
*.md
!pos-frontend/**/*.md
